/* Client logo list */
.client-logo-list{
	margin: 34px 0 0 -1%;
	padding: 0;
	text-align: justify;
}

.client-logo-list__item{
	display: inline-block;
	list-style: none;
	margin: 0 0 2em;
	padding: 0 1%;
	transition: all $animation-speed ease-out;
	vertical-align: middle;
	width: 49%;

	@media screen and (min-width: $m+px){
		margin-bottom: 0;
		width: 19%;
	}

	a{
		display: block;

		&::after{
			background: transparent;
		}
	}

	svg{
		display: block;
		fill: currentColor;
		height: auto;
		margin: 0 auto;
		max-width: 100%;
	}

	&:hover{
		color: rgba($c-black, .75);
	}
}
