/* Box sizing - reset to a nicer understanding of the box model */
html{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after{
	-moz-box-sizing: inherit;
	-webkit-box-sizing: inherit;
 	box-sizing: inherit;
}

/**
 *	1 Resets/normalise
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym,  cite, code, em, img, q, 
small,  strong, sub, sup, 
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, .site-footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	font-size: 100%;
	font: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers: HTML5 shim (CDN) script tag is in header.php for older browsers */
article, aside, details, figcaption, figure, 
.site-footer, header, hgroup, menu, nav, section {
	display: block;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
	min-height: 100%;
	overflow-y: scroll;
}

strong, b{
	font-weight: bold;
}

em, i{
	font-style: italic;
}

html, body{
	height: 100%;
}


body{
	background: $c-yellow;
	color: $c-black;
	margin: 0 auto;
	width: 87.5%;	
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	
	@media screen and (min-width: $s+1+px) {
		width: 93.75%;
	}
	
	@media screen and (min-width: $l+px) {
		width: 100%;
	}
}

a{
	color: inherit;
	display: inline-block;
	line-height: 1;
	position: relative;
	text-decoration: none;	
	
	&:after{
		background: $c-black;
		bottom: 0;
		content: '';
		height: 2px;
		left: 0;
		opacity: .25;
		position: absolute;
		@include transition(all, 300ms, linear);
		@include transform(translateY(.25em));
		width: 100%;
	}
	
	&:visited{
		color: rgba($c-black, 0.8);
	}
	
	// Hover effects - desktop only
	@media screen and (min-width: $l+1+px) {
	    
		&:hover{
			&:after{
				opacity: .5;
				@include transform(translateY(.05em));
			}
		}
	}
	
}

.h1 a{
	&:after{
		@include transform(translateY(0em));
	}
	
	
	// Hover effects - desktop only
	@media screen and (min-width: $l+1+px) {
	    
		&:hover{
			&:after{
				@include transform(translateY(-.025em));
			}
		}
	}
	
}
	
img, iframe{
	height: auto;
	max-width: 100%;
}

h1, h2, h3, h4, h5, h6, .h{
	
}

h1, .h1,
h2, .h2,
h3, .h3{
	
}

h1,
.h1{
	
}

p, ul, ol, dl{
	padding: 10px 0 0;
}

ul li, ol li{
	margin-left: 1em;
	padding-bottom: .25em;
}

blockquote{
    margin: 1em 0 1em 0;
    position: relative;
    
    &:before{
		content: "‘";
	    font-size: 60px;
	    left: -20px;
	    position: absolute;
	    top: -10px;
	}
	
	@media screen and (min-width: $l+px) {
		margin-left: 0;
	}
}