@function calc-percent($target, $container) {
  @return ($target / $container) * 100%;
}


@mixin transition($transition-property, $transition-time, $method){
    -webkit-transition: $transition-property $transition-time $method;
    	-ms-transition: $transition-property $transition-time $method;
			transition: $transition-property $transition-time $method;
}

@mixin transition-transform($transition-property, $transition-time, $method){
    -webkit-transition: -webkit-+$transition-property $transition-time $method;
    	-ms-transition: -ms-+$transition-property $transition-time $method;
			transition: $transition-property $transition-time $method;
}

@mixin transition-delay($time){
    -webkit-transition-delay: $time;
    	-ms-transition-delay: $time;
    		transition-delay: $time;
}


@mixin transform($transform){
    -webkit-transform: $transform;
    	-ms-transform: $transform;
    		transform: $transform;
}

@mixin animation($animation){
	-webkit-animation: $animation;
			animation: $animation;
}


%vertical-align{
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
}
