/**
 * Section module
 */
 
.section{
	height: auto;
	overflow: visible;
	padding: 2em 0;
	width: 100%;
	
	// First section is full screen no matter the screen size
	&:first-of-type{
		min-height: 100vh;
		 .inner{
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -62.5%);
			
			@include breakpoint(mobile-landscape){
				transform: translate(-50%, -50%);
			}
		}
	}
	
	// Scroll the site message (hopefully subtle)
	&:after{
		animation: fadeIn 1000ms linear forwards 1050ms;
		bottom: 80px;
		font-size: 10px;
		opacity: 0;
		position: absolute;
		right: 15px;
		
		@include breakpoint(mobile-landscape){
			bottom: 20px;
		}
		
		@include breakpoint(ipad-portrait){
			bottom: 40px;
			right: 20px;
		}
		
		@include breakpoint(desktop){
			bottom: 20px;
			content: 'scroll \25BE';
		}
	}
	
	&:first-of-type:after{
		content: 'scroll \25BE';
	}
	
	&:last-of-type:after{
		content: none;
	}
}


// Darker (alternative) style
.section--alt{
	background: $c-black;
	color: $c-yellow;
	margin-bottom: 2.5em;
	margin-top: 2em;
	
	@include breakpoint(desktop){
		margin-bottom: 2em;
		padding-left: 0;
		padding-right: 0;
		padding-top: 2em;
	}
	
	a{
		color: currentColor;
		
		&:after{
			background: rgba($c-yellow, .5);
		}
		
		&:visited{
			color: rgba($c-yellow, .8);
		}	
		
		// Hover effects - desktop only
		@include breakpoint(desktop){	    
			&:hover{
				&:after{
					background: rgba($c-yellow, .75);
				}
			}
		}
		
	}	
	
	
	.h, p, cite{
		&::selection{
		background: $c-yellow;
		color: $c-black;
		}
	}
}
