.section{
	height: 100%;
	padding-top: 2em;
	
	@media screen and (min-width: $l+1+px) {
		padding-top: 0;
	}
	
	.inner{
		position: relative;
		@media screen and (min-width: $l+1+px) {
			top: 50%;
			@include transform(translateY(-50%));
		}
			
	}
	
	&:after{
		bottom: 20px;
		content: 'scroll';
		font-size: 10px;
		position: absolute;
		right: 0;
		
		@media screen and (min-width: $l+1+px) {
			bottom: 20px;
			right: 20px;
		}
	}
	
	&:last-of-type:after{
		content: none;
	}
}