/**
 * Section module
 */
 
.section{
	height: 100%;
	overflow: visible;
	padding-top: 2em;
	width: 100%;
	
	@media screen and (min-width: $l+1+px) {
		padding-top: 0;
	}
	
	.inner{
		position: relative;
		width: 100%;
		@media screen and (min-width: $l+1+px) {
			top: 50%;
			@include transform(translateY(-50%));
		}			
	}
	
	&:first-of-type .inner{
		//@media screen and (max-width: $s+1+px) {
			left: 50%;
			position: absolute;
			top: 50%;
			@include transform(translate(-50%, -50%));
		//}
	}
	
	&:after{
		bottom: 20px;
		font-size: 10px;
		opacity: 0;
		position: absolute;
		right: 0;
		
		@include animation(fadeIn 1000ms linear forwards 1050ms);
		
		@include breakpoint(ipad-portrait){
			right: 20px;
		}
		
		@include breakpoint(desktop){
			content: 'scroll \25BE';
		}
	}
	
	&:first-of-type:after{
		content: 'scroll \25BE';
	}
	
	&:last-of-type:after{
		content: none;
	}
}

.section--alt{
	background: $c-black;
	color: $c-yellow;
	margin-top: 2em;
	padding-left: 20px;
	padding-right: 20px;
	
	@include breakpoint(desktop){
		margin-bottom: 2em;
		padding-left: 0;
		padding-right: 0;
		padding-top: 2em;
	}
	
	a{
		color: currentColor;
		
		&:after{
			background: $c-yellow;
		}
		
		&:visited{
			color: rgba($c-yellow, .8);
		}	
	}	
}
