
/* 

Slides

*/
div[data-slides]{
	height: 100%;
	position: relative;
}

div[data-slide]{
	left: 0;
	opacity: 0;
	position: absolute;
	top: 3em;
	width: 100%;
	
	&.active{
		opacity: 1;
		z-index: 1000;
	}
	
	@media screen and (min-width: $l+1+px) {
		@include transition(all, 300ms, linear);
	}
}

/* Clickable dots to navigate */
.slides-nav{
	left: 0;
	position: absolute;
	top: 1em;
	z-index: 1001;
	
	@media screen and (min-width: $l+px) {
		
	}
	
	li{
		display: inline-block;
		margin: 0;
		vertical-align: middle;
		
		+ li{
			margin-left: 10px;	
		}
	}
	
	a{
		background: $c-black;
		border-radius: 50%;
		border: 2px solid $c-black;
		display: block;
		height: 18px;
		@include transition(all, 300ms, linear);
		width: 18px;
		
		&:after{
			content: none;
		}
		
		&.active{
			background: $c-yellow;
			border-color: $c-black;
		}
		
		@media screen and (min-width: $l+1+px) {
			&:hover{
				background-color: rgba($c-black, 0.75);
			}
		}

	}
}