/**
 * Slides module
 */
[data-slides]{
	height: 100%;
	/*height: 100vh;*/
	position: relative;
}

[data-slide]{
	left: 0;
	opacity: 0;
	position: absolute;
	top: 50px;
	width: 100%;
	
	&.active{
		opacity: 1;
		z-index: 1000;
	}
	
	@include breakpoint(ipad-portrait){
		top: 60px;
	}
	
	@include breakpoint(desktop){
		@include transition(all, $animation-speed, linear);
	}
}

/* Clickable dots to navigate */
.slides-nav{
	left: 0;
	margin: 0;
	position: absolute;
	top: 10px;
	z-index: 1001;
	
	@include breakpoint(ipad-portrait){
		top: 0;
	}
	
	li{
		display: inline-block;
		margin: 0;
		vertical-align: middle;
		
		+ li{
			margin-left: 20px;	
			
			@include breakpoint(ipad-portrait){
				margin-left: 10px;	
			}
		}
	}
	
	a{
		background: $c-black;
		border-radius: 50%;
		border: 2px solid $c-black;
		display: block;
		height: 30px;
		width: 30px;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		@include transition(all, $animation-speed, linear);
		
		&:after{
			content: none;
		}
		
		&.active{
			background: $c-yellow;
			border-color: $c-black;
		}
		
		@include breakpoint(desktop){
			height: 18px;
			width: 18px;
			
			&:hover{
				background-color: rgba($c-black, 0.75);
			}
		}

	}
}