/* 
	Typography
	Set font-sizes. To make it easier for responsive
	Set a <h2> size by adding a .h2 and not by styling h2{font-size:20px;}
	<h1-6> are for SEO and accessiblity, not for appearance
*/


body{
	font: 14px/1.6667 $font-family-body;
}

b, strong{
	font-family: $font-family-body-bold;
	font-weight: normal;
}

em, i{
	font-family: $font-family-body-italic;
	font-style: normal;
}

.h{
	font-family: $font-family-body;
	line-height: 1.1;
	text-rendering: optimizeLegibility;
}

.h1{ 
	font-size: 28px; 
	line-height: 0.975;  
}

.h2{
	font-size: 24px;
}

.h3{
	font-size: 18px;
}

li{
	//font-size: 12px;
}

/* Quotes */
.quotes{

	blockquote{
		font-family: $font-family-body-italic;
		line-height: 1.33;
	}
	
	cite, .quote__meta{
		display: block;
		font-family: $font-family-body;
		font-size: .9rem;	
		margin-top: 1em;
	}
	
	cite{
	}
}


p, ul, ol{
	margin-top: 1em;
}

.h{
	margin-top: 2em;
}

.section h1:first-of-type,
.section h2:first-of-type{
	margin-top: 0;
}

@include breakpoint(mobile-landscape){
	body{
		//font-size: 12px;
	}
	
	.h1{
		font-size: 36px;
		line-height: (30/28);
	}
	
	.h2{
		font-size: 28px;
	}
	
	.h3{
		font-size: 20px;	
	}
}

@include breakpoint(tablet){
	body{
		font-size: 14px;
	}
}

@include breakpoint(ipad-portrait){

	body{ 
		font-size: 28px; 
	}
	
	.h1{ 
		font-size: 60px; 
	}
	
	.h2{
		font-size: 48px;
	}

	.h3{
		font-size: 36px;	
	}

}

@include breakpoint(ipad-landscape){

	body{ 
		font-size: 36px; 
	}
	
	.h1{ 
		font-size: 80px; 
	}
	
	.h2{
		font-size: 48px;
	}

	.h3{
		font-size: 40px;	
	}


}