body{
	font: 20px/1.6667 $font-family-body;
}

.h{
	font-family: $font-family-body;
	line-height: 1.1;
}


.h1{ 
	font-size: 2.22em; 
	line-height: 0.975;  
}

.h2{
	font-size: 1.5em;
}


li{
	font-size: 0.8em;
}

@media screen and (min-width: $m+px) {

	body{ 
		font-size: 36px; 
	}
	
	.h1{ 
		font-size: 80px; 
	}

}