/*
	Typography
	Set font-sizes. To make it easier for responsive
	Set a <h2> size by adding a .h2 and not by styling h2{font-size:20px;}
	<h1-6> are for SEO and accessiblity, not for appearance
*/


body{
	font: 14px $font-family-body;
	line-height: (26/14);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@include breakpoint(mobile-landscape){
		font-size: calc(16px + (36 - 16) * ((100vw - 480px) / (1279 - 480)));
		line-height: 1.6667;
	}

	@include breakpoint(xl){
		font-size: 36px;
	}

}

b,
strong{
	font-weight: 500;
}

em,
i{
	font-style: italic;
}

.h{
	line-height: 1.1;
	text-rendering: optimizeLegibility;
}

.h1{
	font-size: 28px;
	line-height: 0.975;

	/* calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
	@include breakpoint(mobile-landscape){
		font-size: calc(36px + (80 - 36) * ((100vw - 480px) / (1279 - 480)));
		line-height: (30/28);
	}

	@include breakpoint(xl){
		font-size: 80px;
	}

}

.h2{
	font-size: 24px;

	@include breakpoint(mobile-landscape){
		font-size: calc(28px + (48 - 28) * ((100vw - 480px) / (1279 - 480)));
	}

	@include breakpoint(xl){
		font-size: 48px;
	}
}

.h3{
	font-size: 18px;

	@include breakpoint(mobile-landscape){
		font-size: calc(20px + (40 - 20) * ((100vw - 480px) / (1279 - 480)));
	}

	@include breakpoint(xl){
		font-size: 40px;
	}
}

/* Quotes */
.quotes{

	blockquote{
		font-style: italic;
		line-height: 1.33;
	}

	cite{
		display: block;
		font-size: .9rem;
		font-style: none;
		margin-top: 1em;
	}
}

p,
ul,
ol{
	margin-top: 1em;
}

.h{
	margin-top: 2em;
}

.section h1:first-of-type,
.section h2:first-of-type{
	margin-top: 0;
}

