/**
 * Links
 * Custom underline all links and add a nice little hover effect
 */

a{
	color: inherit;
	line-height: 1;
	position: relative;
	text-decoration: none;

	&::after{
		background-color: rgba($c-black, .5);
		bottom: .1em;
		content: '';
		height: .05em;
		left: 0;
		position: absolute;
		transition: all $animation-speed linear;
		width: 100%;

		@include breakpoint(desktop){
			background-color: rgba($c-black, .25);
		}
	}

	&:visited{
		color: rgba($c-black, .75);
	}

	// Hover effects - desktop only
	@include breakpoint(desktop){
		&:hover{
			&::after{
				background-color: rgba($c-black, .5);
				height: .065em;
			}
		}
	}

	&:active,
	&:focus{
		&::after{
			background-color: currentColor;
		}
	}

	&:focus{
		background-color: rgba($c-white, .5);
		outline: none;
	}

}

/**
 * Hidden skip link
 */
.skip-link{
	left: 50%;
	opacity: 0;
	padding: 5px 10px;
	position: absolute;
	transform: translateX(-50%);
	top: 0;
	z-index: -1;

	&:focus{
		opacity: 1;
	z-index: 999;
	}
}
