/**
 * Links
 * Custom underline all links and add a nice little hover effect
 */

a {
	background-color: transparent;
	color: inherit;
	line-height: 1;
	position: relative;
	text-decoration: underline;
	transition: 300ms ease background-color;

	&:visited {
		color: rgba(var(--color-body-text-rgb), 0.75);
	}

	@media (hover: hover) and (pointer: fine) {
		&:hover {
			background: rgab(var(--color-highlight-rgb), 0.25);
			text-decoration: none;
		}
	}

	&:focus {
		color: inherit;
		outline: none;
		text-decoration: underline;
		text-decoration-color: var(--color-highlight);
	}
}

/**
 * Hidden skip link
 */
.skip-link {
	left: 50%;
	opacity: 0;
	padding: 5px 10px;
	position: absolute;
	transform: translateX(-50%);
	top: 0;
	z-index: -1;

	&:focus {
		opacity: 1;
		z-index: 999;
	}
}
