/**
 * Lists 
 */
 
/* 
 * Blocked list. Atomic style to get zero list styling
 */
.block-list{	
	li{
		list-style: none;
		margin-left: 0;
	}
}

/* 
 * Grid list. Atomic style to get <li>s to sit enxt to each other in a line /grid
 */  
.grid-list{
	margin-left: -20px; 
	
	li{
		float: left;
		list-style: none;
		margin: 0 0 20px 20px;
	}
}
