/**
 * Lists 
 */
.block-list{
	
	li{
		list-style: none;
		margin-left: 0;
	}
}

.grid-list{
	margin-left: -20px; 
	
	li{
		float: left;
		list-style: none;
		margin: 0 0 20px 20px;
	}
}

/**
 * Social icons
 */		
.social-list{
	float: left;
	margin: 0 0 20px;
	padding: 0;
	width: 100%;
	
	@include breakpoint(tablet){
		margin-bottom: 60px;
	}
	
	li{
		float: left;
		list-style: none;
		padding: 0 5px 10px;
		text-align: center;
		width: 33%;
		
		@include breakpoint(tablet){
			width: 20%;
			
			&:nth-of-type(5n+1){
				clear: both;
			}
		}
	}

	
	a{
		background: rgba(white, 0.1);
		display: block;
		padding: 2em 0;
		@include transition(all, 150ms, ease-in);
		@include transition-delay($animation-speed);
		
		// Hover effects - desktop only
		@include breakpoint(desktop){
			&:hover{
				background-color: rgba(white, 0.2);
				
				padding: 1.85em 0 2.15em;
			}
		}
		
	}
	
	svg{
		display: block;
		fill: $c-black;
		margin: 0 auto;	
	}
	
}