/**
 * Lists 
 */
 
/* 
 * Blocked list. Atomic style to get zero list styling
 */
.block-list{	
	li{
		list-style: none;
		margin-left: 0;
	}
}

/* 
 * Grid list. Atomic style to get <li>s to sit enxt to each other in a line /grid
 */  
.grid-list{
	margin-left: -20px; 
	
	li{
		float: left;
		list-style: none;
		margin: 0 0 20px 20px;
	}
}

/**
 * Social icons
 */		
.social-list{
	float: left;
	padding: 0 0 20px;
	width: 100%;
	
	@include breakpoint(tablet){
		padding-bottom: 60px;
	}
	
	li{
		float: left;
		list-style: none;
		padding: 0 5px 10px;
		text-align: center;
		width: 25%;
		
		@include breakpoint(mobile-landscape){
			width: 20%;
			
			&:nth-of-type(5n+1){
				clear: both;
			}
		}
	}

	
	a{
		background: rgba(white, .1);
		display: block;
		padding: 1.5em 0;
		-webkit-tap-highlight-color: rgba(black, 0);
		transition: all $animation-speed ease-out;
		transition-delay: 100ms;
		
		// Hover effects - desktop only
		@include breakpoint(desktop){
			&:hover{
				background-color: rgba(white, .2);
				padding: 1.35em 0 1.65em;
			}
		}
		
		&:active{
			background-color: rgba(white, .2);
			padding: 1.35em 0 1.65em;
		}
		
	}
	
	svg{
		display: block;
		fill: $c-black;
		height: 26px;
		margin: 0 auto;	
		width: 26px;
		
		
		@include breakpoint(ipad-portrait){
			height: 42px;
			width: 42px;
		}
	}
	
}