/**
 * Misc helpers 
 */

/* Use the Best Available Ampersand: http://simplebits.com/notebook/2008/08/14/ampersands-2/ */
.amp, .ampersand{
	font-family: Baskerville,Georgia,serif;
	font-style: italic;
}


/* Icons */

a.icon{
	&:after{
		content: none;
	}
}
