/**
 * Progress bar
 * Gimmicky JS-powered progress bar that display at the top of the viewport
 */
.progress-bar {
	appearance: none; /* Chrome / Safari need this */
	background: var(--color-body-background);
	border: none;
	border-radius: none;
	color: var(--color-body-text); /* IE loves this */
	height: 5px;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.no-js .progress-bar {
	display: none;
}

.progress-bar::-webkit-progress-bar {
	background: var(--color-body-background);
}

.progress-bar::-webkit-progress-bar-value {
	-webkit-appearance: none;
	background: var(--color-body-text);
}

.progress-bar::-webkit-progress-value {
	background: var(--color-body-text);
}

.progress-bar::-moz-progress-bar {
	background: var(--color-body-text);
}
