/**
 *	Mobile/RWD related helper classes
 */
 
@media
screen and (max-width: $l+px){
	.desktop-only{
		display: none !important;
	}
}

/* Mobile */
@media 
screen and (max-width: 568px),
screen and (min-device-width: $s+px) and (max-device-width: 480px), 
screen and (min-device-width: $s+px) and (max-device-width: 568px)  {
	.mobile-hidden,
	.tablet-only,
	.desktop-only{
		display: none !important;
	}
}


/* Tablet */
@media
screen and (min-device-width: $m+px)  and (max-device-width: $l+px) {
	.tablet-hidden,
	.mobile-only,
	.desktop-only{
		display: none !important;
	}
}

@media
screen and (min-width: $m+px) and (max-width: $l+px){
	.tablet-hidden,
	.mobile-only,
	.desktop-only{
		display: none !important;
	}
}

/* Tablet landscape (give it desktop styles) and desktop */
@include breakpoint(ipad-landscape){
	.desktop-hidden{
		display: none !important;
	}	
}

/* Desktop + */
@include breakpoint(desktop){
	.mobile-only,
	.tablet-only{
		display: none !important;
	}	
}