/**
 * Section module
 * For splitting blocks of the page
 */

.section {
	height: auto;
	overflow: hidden;
	padding: 2em 0;
	width: 100%;

	// First section is full screen no matter the screen size
	&:first-of-type {
		display: grid;
		min-height: 100vh;
		place-content: center;
		place-items: center;

		.inner {
			max-width: 90vw;

			@include breakpoint(mobile-landscape) {
				max-width: 80%;
			}
		}
	}

	// Scroll the site message (hopefully subtle)
	&::after {
		animation: fadeIn 1000ms linear forwards 1050ms;
		bottom: 80px;
		font-size: 12px;
		opacity: 0;
		position: absolute;
		right: 15px;

		@include breakpoint(mobile-landscape) {
			bottom: 20px;
		}

		@include breakpoint(ipad-portrait) {
			bottom: 40px;
			right: 20px;
		}

		@include breakpoint(desktop) {
			bottom: 20px;
			content: "scroll \25BE";
			font-size: 16px;
		}
	}

	&:first-of-type:after {
		content: "scroll \25BE";
	}

	&:last-of-type:after {
		content: none;
	}
}

// Darker (alternative) style
.section--alt {
	background: var(--color-body-text);
	color: var(--color-body-background);
	margin-bottom: 2.5em;
	margin-top: 2em;

	@include breakpoint(desktop) {
		margin-bottom: 2em;
		padding-left: 0;
		padding-right: 0;
		padding-top: 2em;
	}
}

.section--alt a {
	color: currentColor;

	&::after {
		background-color: rgba(var(--color-body-background-rgb), 0.5);
	}

	&:visited {
		color: rgba(var(--color-body-background-rgb), 0.8);
	}

	// Hover effects - desktop only
	@include breakpoint(desktop) {
		&:hover {
			&::after {
				background-color: rgba(var(--color-body-background-rgb), 0.75);
			}
		}
	}

	&:focus {
		background-color: var(--color-highlight);
		color: var(--color-body-text);
	}

	&:focus::after {
		background-color: currentColor;
	}
}

/* Selected text */
.section--alt .h,
.section--alt p,
.section--alt cite {
	&::selection {
		background-color: var(--color-body-background);
		color: var(--color-body-text);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
