/**
 * Slides module
 */

.js-slides {
	height: 100%;
	position: relative;
}

.js-slide[aria-hidden="true"] {
	display: none;
}

/* Clickable dots to navigate */
.slides-nav {
	margin: 1.5em 0 1em;
	margin-bottom: calc(1em - 20px);
	padding: 0;

	@include breakpoint(desktop) {
		margin: 0.5em 0;
	}
}

.slides-nav__button {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background-color: var(--color-body-text);
	border: 2px solid var(--color-body-background);
	border-radius: 50%;
	appearance: none;
	display: inline-block;
	height: 44px;
	margin: 0 20px 20px 0;
	-webkit-tap-highlight-color: rgba(black, 0);
	transform: translateZ(0);
	transition: all, $animation-speed, linear;
	width: 44px;

	&::-moz-focus-inner {
		border: 0;
	}

	&::after {
		content: none;
	}

	&:focus {
		background-color: var(--color-highlight);
		border-color: var(--color-highlight);
		outline: none;
		transform: scale(1.2);
	}

	&.active {
		background-color: transparent;
		border-color: var(--color-body-background);

		@include breakpoint(desktop) {
			&:hover {
				background-color: transparent;
			}
		}
	}

	&.active:focus {
		border-color: var(--color-highlight);
	}

	@include breakpoint(desktop) {
		height: 28px;
		margin-bottom: 0;
		margin-right: 20px;
		width: 28px;

		&:hover {
			animation: hvr-pop $animation-speed linear 1 0ms;
			background-color: rgba(var(--color-body-text-rgb), 0.75);
		}
	}
}

.section--alt {
	.slides-nav__button {
		background-color: var(--color-body-background);
		border-color: var(--color-body-background);

		&:focus {
			background-color: var(--color-highlight);
			border-color: var(--color-highlight);
			outline: none;
		}

		&.active {
			background-color: var(--color-body-text);
			border-color: var(--color-body-background);
		}

		&.active:focus {
			border-color: var(--color-highlight);
		}
	}
}
