/**
 * Social icons
 * Structure:
 * <ul class="block-list social-list">
 *  <li class="social-list__item">
 *    <a href="..." class="social-list__link">
 *      <svg class="social-list__svg">...</svg>
 *    </a>
 *  </li>
 * </ul>
 */

.social-list{
	float: left;
	padding: 0 0 20px;
	width: 100%;

	@include breakpoint(tablet){
		padding-bottom: 60px;
	}
}

.social-list__item{
	border: none;
	float: left;
	list-style: none;
	padding: 0 5px 10px;
	text-align: center;
	width: 25%;

	@include breakpoint(mobile-landscape){
		width: 20%;

		&:nth-of-type(5n+1){
			clear: both;
		}
	}
}

.social-list__link{
	background: rgba(white, .1);
	display: block;
	padding: 1.5em 0;
	-webkit-tap-highlight-color: rgba(black, 0);
	transition: all $animation-speed ease-out 100ms;

	// Hover effects - desktop only
	@include breakpoint(desktop){
		&:hover{
			background-color: rgba(white, .2);
			padding: 1.35em 0 1.65em;
		}
	}

	&:active{
		background-color: rgba(white, .2);
		padding: 1.35em 0 1.65em;
	}
}

.social-list__link::after{
	content: none;
}

.social-list__svg{
	display: block;
	fill: $c-black;
	height: 26px;
	margin: 0 auto;
	width: 26px;

	@include breakpoint(ipad-portrait){
		height: 42px;
		width: 42px;
	}
}
