@charset "UTF-8";
/**
 * 0 Misc
 */
/* Mixins */
/* Set different breakpoints */
/* Fonts */
/* Colours */
/* MQs */
/* Misc */
/**
 * Webfonts
 */
/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
@font-face {
  font-family: "MuseoSlab500";
  src: url("/fonts/museo/Museo_Slab_500.eot");
  src: url("/fonts/museo/Museo_Slab_500.eot?#iefix") format("embedded-opentype"), url("/fonts/museo/Museo_Slab_500.woff") format("woff"), url("/fonts/museo/Museo_Slab_500.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/* Box sizing - reset to a nicer understanding of the box model */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/**
 *	1 Resets/normalise
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, cite, code, em, img, q,
small, strong, sub, sup,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers: HTML5 shim (CDN) script tag is in header.php for older browsers */
article, aside, details, figcaption, figure,
.site-footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:root {
  min-height: 100%;
  overflow-y: scroll; }

html, body {
  height: 100%; }

body {
  background: #fd2;
  color: #151515;
  margin: 0 auto;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

::-moz-selection {
  background: #151515;
  color: #fd2; }

::selection {
  background: #151515;
  color: #fd2; }

img {
  height: auto;
  max-width: 100%; }

iframe {
  max-width: 100%; }

ul li, ol li {
  margin-left: 1em;
  padding-bottom: .25em; }

blockquote {
  margin: 1em 0 1em 0;
  position: relative; }
  blockquote:before {
    font-size: 60px;
    left: -20px;
    position: absolute;
    top: -10px; }
    @media (min-width: 1024px) {
      blockquote:before {
        content: "‘"; } }

/* Animation keyframes */
/* Fade an item in */
@-webkit-keyframes fadeIn {
  to {
    opacity: 1; } }
@keyframes fadeIn {
  to {
    opacity: 1; } }
/* Pop animation */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); } }
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); } }
/**
 *	2 Helper classes / Common modules
 */
/**
 * Misc helpers 
 */
/* Use the Best Available Ampersand: http://simplebits.com/notebook/2008/08/14/ampersands-2/ */
.amp, .ampersand {
  font-family: Baskerville,Georgia,serif;
  font-style: italic; }

/* Icons */
a.icon:after {
  content: none; }

/**
 * Layout related helper classes 
 */
/**
 * .group
 * Used as part of the Float Nearly Everything method
 * http://archive.orderedlist.com/blog/archives/clearing-floats-the-fne-method/
 * Used instead of adding a clearfix to everything and/or getting caught out by floats
 */
.group,
.form-field {
  clear: both;
  float: left;
  position: relative;
  width: 100%; }

.form-field {
  margin: 0 0 20px; }

.column {
  float: left;
  position: relative;
  width: 50%; }

.decoration {
  display: block;
  position: absolute; }

/**
 * .inner
 * Internal container on elements.
 * Allow background colours/images go full width but copy sits 
 * in a set central zone
 *
 * 1. iPad landscape width with 30px either side
 */
.inner {
  margin: 0 auto;
  position: relative;
  width: 90.625%; }
  @media (min-width: 480px) {
    .inner {
      max-width: 80%; } }
  @media (min-width: 768px) {
    .inner {
      max-width: 964px; } }
  @media (min-width: 1024px) {
    .inner {
      width: 100%; } }
  @media (min-width: 1280px) {
    .inner {
      max-width: 1024px; } }

/**
 * .clearfix @see http://nicolasgallagher.com/micro-clearfix-hack/
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }
.clearfix:after {
  clear: both; }

/**
 * Accessibility related helper classes
 */
/**
 * Image replacement classes / show/hide classes
 */
.ir {
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  direction: ltr;
  display: block;
  overflow: hidden;
  text-align: left;
  text-indent: -999em;
  *line-height: 0; }

.ir br {
  display: none; }

/* Hide elements based upon JavaScript presence */
.hidden,
.no-js .no-js-hidden,
.js .js-hidden {
  display: none;
  visibility: hidden; }

/* Hidden but visible to screenreaders */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

/**
 * Lists 
 */
/* 
 * Blocked list. Atomic style to get zero list styling
 */
.block-list li {
  list-style: none;
  margin-left: 0; }

/* 
 * Grid list. Atomic style to get <li>s to sit enxt to each other in a line /grid
 */
.grid-list {
  margin-left: -20px; }
  .grid-list li {
    float: left;
    list-style: none;
    margin: 0 0 20px 20px; }

.progress-bar {
  background: transparent;
  border: none;
  border-radius: none;
  height: 5px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; }

.progress-bar::-webkit-progress-bar {
  background: transparent; }

.progress-bar::-webkit-progress-value {
  background: #151515; }

.progress-bar::-moz-progress-bar {
  background: #151515; }

.progress-bar::-ms-progress-bar {
  background: #151515; }

/**
 *	3 Global elements
 */
/**
 * Links
 */
a {
  color: inherit;
  line-height: 1;
  position: relative;
  text-decoration: none; }
  a:after {
    background: rgba(21, 21, 21, 0.5);
    bottom: .1em;
    content: '';
    height: .05em;
    left: 0;
    position: absolute;
    transition: all 300ms linear;
    width: 100%; }
    @media (min-width: 1025px) {
      a:after {
        background: rgba(21, 21, 21, 0.25); } }
  a:visited {
    color: rgba(21, 21, 21, 0.75); }
  @media (min-width: 1025px) {
    a:hover:after {
      background: rgba(21, 21, 21, 0.5);
      height: .065em; } }
  a:active:after, a:focus:after {
    background: currentColor; }

/* 
	Typography
	Set font-sizes. To make it easier for responsive
	Set a <h2> size by adding a .h2 and not by styling h2{font-size:20px;}
	<h1-6> are for SEO and accessiblity, not for appearance
*/
body {
  font: 14px/1.6667 "MuseoSlab500", "Museo Slab", Museo, Georgia, sans-serif; }

b, strong {
  font-family: "MuseoSlab500", "Museo Slab", Museo, Georgia, sans-serif;
  font-weight: normal; }

em, i {
  font-family: "MuseoSlab500", "Museo Slab", Museo, Georgia, sans-serif;
  font-style: normal; }

.h {
  font-family: "MuseoSlab500", "Museo Slab", Museo, Georgia, sans-serif;
  line-height: 1.1;
  text-rendering: optimizeLegibility; }

.h1 {
  font-size: 28px;
  line-height: 0.975; }

.h2 {
  font-size: 24px; }

.h3 {
  font-size: 18px; }

/* Quotes */
.quotes blockquote {
  font-family: "MuseoSlab500", "Museo Slab", Museo, Georgia, sans-serif;
  line-height: 1.33; }
.quotes cite, .quotes .quote__meta {
  display: block;
  font-family: "MuseoSlab500", "Museo Slab", Museo, Georgia, sans-serif;
  font-size: .9rem;
  margin-top: 1em; }

p, ul, ol {
  margin-top: 1em; }

.h {
  margin-top: 2em; }

.section h1:first-of-type,
.section h2:first-of-type {
  margin-top: 0; }

@media (min-width: 480px) {
  .h1 {
    font-size: 36px;
    line-height: 1.07143; }

  .h2 {
    font-size: 28px; }

  .h3 {
    font-size: 20px; } }
@media (min-width: 600px) {
  body {
    font-size: 14px; } }
@media (min-width: 768px) {
  body {
    font-size: 28px; }

  .h1 {
    font-size: 60px; }

  .h2 {
    font-size: 48px; }

  .h3 {
    font-size: 36px; } }
@media (min-width: 1024px) {
  body {
    font-size: 36px; }

  .h1 {
    font-size: 80px; }

  .h2 {
    font-size: 48px; }

  .h3 {
    font-size: 40px; } }
/**
 * Section module
 */
.section {
  height: auto;
  overflow: visible;
  padding: 2em 0;
  width: 100%; }
  .section:first-of-type {
    min-height: 100vh; }
    .section:first-of-type .inner {
      left: 50%;
      position: absolute;
      top: 50%;
      -webkit-transform: translate(-50%, -62.5%);
          -ms-transform: translate(-50%, -62.5%);
              transform: translate(-50%, -62.5%); }
      @media (min-width: 480px) {
        .section:first-of-type .inner {
          -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%); } }
  .section:after {
    -webkit-animation: fadeIn 1000ms linear forwards 1050ms;
            animation: fadeIn 1000ms linear forwards 1050ms;
    bottom: 80px;
    font-size: 10px;
    opacity: 0;
    position: absolute;
    right: 15px; }
    @media (min-width: 480px) {
      .section:after {
        bottom: 20px; } }
    @media (min-width: 768px) {
      .section:after {
        bottom: 40px;
        right: 20px; } }
    @media (min-width: 1025px) {
      .section:after {
        bottom: 20px;
        content: 'scroll \25BE'; } }
  .section:first-of-type:after {
    content: 'scroll \25BE'; }
  .section:last-of-type:after {
    content: none; }

.section--alt {
  background: #151515;
  color: #fd2;
  margin-bottom: 2.5em;
  margin-top: 2em; }
  @media (min-width: 1025px) {
    .section--alt {
      margin-bottom: 2em;
      padding-left: 0;
      padding-right: 0;
      padding-top: 2em; } }
  .section--alt a {
    color: currentColor; }
    .section--alt a:after {
      background: rgba(255, 221, 34, 0.5); }
    .section--alt a:visited {
      color: rgba(255, 221, 34, 0.8); }
    @media (min-width: 1025px) {
      .section--alt a:hover:after {
        background: rgba(255, 221, 34, 0.75); } }
  .section--alt .h::-moz-selection, .section--alt p::-moz-selection, .section--alt cite::-moz-selection {
    background: #fd2;
    color: #151515; }
  .section--alt .h::selection, .section--alt p::selection, .section--alt cite::selection {
    background: #fd2;
    color: #151515; }

/**
 * Slides module
 */
.js-slides {
  height: 100%;
  position: relative; }

.js-slide {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 50px;
  width: 100%; }
  @media (min-width: 768px) {
    .js-slide {
      top: 60px; } }
  .js-slide.active {
    opacity: 1;
    z-index: 1000; }
    @media (min-width: 1025px) {
      .js-slide.active {
        transition: all 1000ms linear; } }

/* Clickable dots to navigate */
.slides-nav {
  left: 0;
  margin: .5em 0;
  padding: 0;
  position: absolute;
  top: 10px;
  z-index: 1001; }
  @media (min-width: 768px) {
    .slides-nav {
      top: 0; } }
  .slides-nav li {
    display: inline-block;
    margin: 0;
    vertical-align: middle; }
    .slides-nav li + li {
      margin-left: 20px; }
      @media (min-width: 768px) {
        .slides-nav li + li {
          margin-left: 10px; } }
  .slides-nav a {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #151515;
    border-radius: 50%;
    border: 2px solid #151515;
    display: block;
    height: 30px;
    -webkit-tap-highlight-color: transparent;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    transition: all, 300ms, linear;
    width: 30px; }
    .slides-nav a:after {
      content: none; }
    .slides-nav a.active {
      background: transparent;
      border-color: #151515; }
      @media (min-width: 1025px) {
        .slides-nav a.active:hover {
          background: transparent; } }
    @media (min-width: 1025px) {
      .slides-nav a {
        height: 18px;
        width: 18px; }
        .slides-nav a:hover {
          -webkit-animation: hvr-pop 300ms linear 1 0ms;
                  animation: hvr-pop 300ms linear 1 0ms;
          background-color: rgba(21, 21, 21, 0.75); } }

.section--alt .slides-nav a {
  background-color: #fd2;
  border-color: #fd2; }
  .section--alt .slides-nav a.active {
    background-color: transparent;
    border-color: #fd2; }

/* Client logo list */
.client-logo-list {
  margin: 34px 0 0 -1%;
  padding: 0;
  text-align: justify; }

.client-logo-list__item {
  display: inline-block;
  list-style: none;
  margin: 0 0 2em;
  padding: 0 1%;
  transition: all 300ms ease-out;
  vertical-align: middle;
  width: 49%; }
  @media screen and (min-width: 768px) {
    .client-logo-list__item {
      margin-bottom: 0;
      width: 24%; } }
  .client-logo-list__item a {
    display: block; }
    .client-logo-list__item a::after {
      background: transparent; }
  .client-logo-list__item svg {
    display: block;
    fill: currentColor;
    height: auto;
    margin: 0 auto;
    max-width: 100%; }
  .client-logo-list__item:hover {
    color: rgba(21, 21, 21, 0.75); }

/**
 * Social icons
 * Structure:
 * <ul class="block-list social-list">
 *  <li class="social-list__item">
 *    <a href="..." class="social-list__link">
 *      <svg class="social-list__svg">...</svg>
 *    </a>
 *  </li>
 * </ul>
 */
.social-list {
  float: left;
  padding: 0 0 20px;
  width: 100%; }
  @media (min-width: 600px) {
    .social-list {
      padding-bottom: 60px; } }

.social-list__item {
  border: none;
  float: left;
  list-style: none;
  padding: 0 5px 10px;
  text-align: center;
  width: 25%; }
  @media (min-width: 480px) {
    .social-list__item {
      width: 20%; }
      .social-list__item:nth-of-type(5n+1) {
        clear: both; } }

.social-list__link {
  background: rgba(255, 255, 255, 0.1);
  display: block;
  padding: 1.5em 0;
  -webkit-tap-highlight-color: transparent;
  transition: all 300ms ease-out 100ms; }
  @media (min-width: 1025px) {
    .social-list__link:hover {
      background-color: rgba(255, 255, 255, 0.2);
      padding: 1.35em 0 1.65em; } }
  .social-list__link:active {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1.35em 0 1.65em; }

.social-list__link::after {
  content: none; }

.social-list__svg {
  display: block;
  fill: #151515;
  height: 26px;
  margin: 0 auto;
  width: 26px; }
  @media (min-width: 768px) {
    .social-list__svg {
      height: 42px;
      width: 42px; } }

/**
 *	5 Mobile / RWD helper classes
 */
/**
 *	Mobile/RWD related helper classes
 */
@media screen and (max-width: 1024px) {
  .desktop-only {
    display: none !important; } }
/* Mobile */
@media screen and (max-width: 568px), screen and (min-device-width: 480px) and (max-device-width: 480px), screen and (min-device-width: 480px) and (max-device-width: 568px) {
  .mobile-hidden,
  .tablet-only,
  .desktop-only {
    display: none !important; } }
/* Tablet */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .tablet-hidden,
  .mobile-only,
  .desktop-only {
    display: none !important; } }
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .tablet-hidden,
  .mobile-only,
  .desktop-only {
    display: none !important; } }
/* Tablet landscape (give it desktop styles) and desktop */
@media (min-width: 1024px) {
  .desktop-hidden {
    display: none !important; } }
/* Desktop + */
@media (min-width: 1025px) {
  .mobile-only,
  .tablet-only {
    display: none !important; } }
