.amp,
.ampersand {
  font-family: Baskerville, Georgia, serif;
  font-style: italic;
}

a {
  color: var(--color-link);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2em;
  transition: text-underline-offset linear var(--transition-duration-fast);
}

a:hover {
  text-underline-offset: 0.1em;
}

a:focus-visible {
  outline: 2px solid;
  outline-offset: 2px;
}

/**
 * text for screen-readers only.
 * @see https://www.tpgi.com/the-anatomy-of-visually-hidden/
 */
.visually-hidden:not(:focus):not(:active) {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.page-container {
  padding-inline: var(--spacing-document-inline);
  margin-inline: auto;
  max-width: calc(
    64rem - var(--spacing-document-inline) - var(--spacing-document-inline)
  );
}

.block-list li {
  list-style: none;
  margin-left: 0;
}

.grid-list {
  margin-left: -20px;
}

.grid-list li {
  float: left;
  list-style: none;
  margin: 0 0 20px 20px;
}

b,
strong {
  font-weight: var(--font-weight-heading);
}

em,
i {
  font-style: italic;
}

blockquote {
  display: block;
  /* font-family: var(--font-family-heading); */
  font-style: italic;
  /* font-weight: var(--font-weight-heading); */
  margin-top: 1em;
}

blockquote > p {
  font-size: 2rem;
}

blockquote cite {
  display: block;
  font-family: var(--font-family-body);
  font-size: 1rem;
  font-style: normal;
  font-weight: var(--font-weight-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-heading);
  margin-top: 2em;
}

ol,
p,
ul {
  margin-top: 1em;
}

.client-logo-list {
  margin: 0;
  padding: 0;
  display: grid;
  gap: 1vw;
  grid-template-columns: 1fr 1fr 1fr;
}
.client-logo-list__item {
  display: grid;
  place-items: center;
}
.client-logo-list__item > * {
  display: block;
  max-width: 100%;
}

.social-list {
  display: grid;
  margin: 0;
  padding: 0;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
}

.social-list__item {
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;
  place-items: center;
}

.social-list__link {
  -webkit-tap-highlight-color: transparent;
  background: rgba(255, 255, 255, 0.1);
  display: block;
  padding: 1.5em 0;
  transition: all 300ms ease-out 100ms;
  width: 100%;
}

@media (min-width: 1025px) {
  .social-list__link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1.35em 0 1.65em;
  }
}

.social-list__link:active {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1.35em 0 1.65em;
}

.social-list__link::after {
  content: none;
}

.social-list__svg {
  display: block;
  fill: currentColor;
  height: 1.625rem;
  margin: 0 auto;
  width: 1.625rem;
}

@media (min-width: 768px) {
  .social-list__svg {
    height: 2.625rem;
    width: 2.625rem;
  }
}

.quotes {
  background: var(--color-brand-off-black);
  color: var(--color-brand-yellow);

  display: flex;
  flex-wrap: nowrap;
  gap: 0;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}

.quotes:focus-visible {
  outline: 2px solid;
  outline-offset: -3px;
}

.quote {
  display: block;
  flex: none;
  scroll-snap-align: center;
  width: 100%;
}

.header {
  padding-block: 1rem;
  border-bottom: 1px solid;
}

.logo {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-heading);
}

.footer {
  --font-weight-body: 300;

  border-top: 1px solid
    color-mix(in lch, var(--color-body-text) 5%, var(--color-body-background));
  font-size: 0.875rem;
  margin-top: 5rem;
  padding-block: 1rem;
}

.footer a {
  display: block;
}

.footer nav {
  margin-block-end: 1rem;
}

.footer nav a:not(:last-of-type) {
  margin-block-end: 0.25em;
}

/* < 600px wide */
@media (max-width: 37.5em) {
  .footer nav a {
    padding-block: 0.25em;
  }

  .footer nav a:not(:last-of-type) {
    margin-block-end: 0.5em;
  }
}
