/* Fonts */
$font-family-body: 'MuseoSlab500','Museo Slab',Museo,Georgia,sans-serif;

/* Colours */
$c-yellow: #fd2;
$c-black: #151515;
$c-white: #fff;

/* MQs */
$xl: 1280;
$l: 1024;
$m: 768;
$ms: 600;
$s: 480;
$xs: 320;

/* Misc */

$animation-speed: 300ms;
