@font-face {
	font-family: F37Bobby;
	font-display: swap;
	src: url(/assets/fonts/f37bobby/F37Bobby-Regular.woff2) format("woff2"),
		url(/assets/fonts/f37bobby/F37Bobby-Regular.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: F37Bobby;
	font-display: swap;
	src: url(/assets/fonts/f37bobby/F37Bobby-RegularIt.woff2) format("woff2"),
		url(/assets/fonts/f37bobby/F37Bobby-RegularIt.woff) format("woff");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: F37Bobby;
	font-display: swap;
	src: url(/assets/fonts/f37bobby/F37Bobby-Bold.woff2) format("woff2"),
		url(/assets/fonts/f37bobby/F37Bobby-Bold.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}
