/**
 * Fonts
 * As this is only one page - don't bother with a bold/italic fonts
 * the user probably won't notice when the browsers fakes it ;P
 */

@charset "UTF-8";

/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
@font-face {
	font-family: 'MuseoSlab500';
	src: url('/assets/fonts/museo/Museo_Slab_500.woff2') format('woff2'),
	url('/assets/fonts/museo/Museo_Slab_500.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
