@charset "UTF-8";

/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */ 
@font-face {
	font-family: 'MuseoSlab500';
	src: url('/assets/fonts/museo/Museo_Slab_500.woff2') format('woff2'),
	url('/assets/fonts/museo/Museo_Slab_500.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
