<!DOCTYPE html>
<html class="no-js" dir="ltr" lang="en-gb">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}{% if page.url != '/' %} - Phil Thompson{% endif %}</title>
    <link rel="canonical" href="https://philthompson.co.uk{{ page.url }}">
    <meta name="theme-color" content="#FFDD22">
    <meta
      name="description"
      content="{{ meta_description }}"
    />
    <script>
      document.documentElement.className =
        document.documentElement.className.replace(/\bno-js\b/, "js");
    </script>
    <link rel="preload" href="/assets/fonts/f37bobby/F37Bobby-Bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/f37blanka/F37Blanka-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <style>
    {% include "critical-path.css" %}
    </style>
    <link href="{{ '/assets/styles/global.css' | url | bust }}" rel="stylesheet" media="print" onload="this.media='all'">
    <noscript>
      <link href="{{ '/assets/styles/global.css' | url | bust }}" rel="stylesheet" media="all">
    </noscript>
    {% block styles %}{% endblock %}
  </head>
  <body>
    <!-- <a href="#contact" class="skip-link">Skip to contact details</a> -->
    {% if page.url != '/' %}
    <header class="header page-container">
      <span class="logo">Phil Thompson - Frontend Engineer</span>
      <nav aria-label="Main menu">
        <a href="/" class="back">Back</a>
      </nav>
    </header>
    {% endif %}
    <div class="page-container">
      <main class="main">
        {{ content | safe }}
      </main>
      <footer class="footer">
        <nav aria-label="Site links">
          <a
            href="/terms/"
            {% if page.url == '/terms/' %}
              aria-current="page"
            {% endif %}
          >
          Terms
          </a>
          <a
            href="/privacy/"
            {% if page.url == '/privacy/' %}
              aria-current="page"
            {% endif %}
          >
          Privacy policy
          </a>
          <a
            href="/cookies/"
            {% if page.url == '/cookies/' %}
              aria-current="page"
            {% endif %}
          >
          Cookies policy
          </a>
          <a
            href="/accessibility-statement/"
            {% if page.url == '/accessibility-statement/' %}
              aria-current="page"
            {% endif %}
          >
          Accessibility statement
          </a>
        </nav>
        <div>Copyright &copy; {{ helpers.currentYear() }} - PT Digital Services Limited.</div>
        <div>Company number: 10542201.</div><div>Registered address: 153 Boundary Road, London, N22 6AR.</div>
      </footer>
    </div>

    {% block scripts %}{% endblock %}
  </body>
</html>
